html, body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.slimsy-image{
    max-width:100%;
}
.widget-container h2{
    margin-top:0;
    font-size:16px;
    font-weight:400;
}

.widget-container .head h2{
    float: left;
}
.widget-container .head .amount{
    float: right;
}
.jumbotron.with-carousel{
    margin:0;
    padding:0 !important;

    background-color: #2f85ac !important;

    margin-bottom: 20px !important;
    border-bottom: 1px solid #2a779a;
}

.jumbotron.with-carousel{
    background: -webkit-radial-gradient(#61B2D6 15%, #2f85ac 100%); /* Safari 5.1-6.0 */
    background: -o-radial-gradient(#61B2D6 15%, #2f85ac 100%); /* For Opera 11.6-12.0 */
    background: -moz-radial-gradient(#61B2D6 15%, #2f85ac 100%); /* For Firefox 3.6-15 */
    background: radial-gradient(#61B2D6 15%, #2f85ac 100%); /* Standard syntax */
}

.jumbotron.no-carousel{
    background: -webkit-linear-gradient(#2f85ac, #61B2D6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2f85ac, #61B2D6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2f85ac, #61B2D6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2f85ac, #61B2D6); /* Standard syntax */
}

.header .top-container{
    position: relative;
    height: 104px;
    margin-top: 10px;
}
.header .top-container .navbar-default, .header .top-container .logo{
    /*float: left;*/
}

.navbar-collapse{
    padding-left:10px !important;
    padding-right:10px !important;
}
.header .navbar{
    min-height:0px;
    margin:35px 0 0 0;
    font-weight: 300;
}
.header .navbar-default{
    background: none;
    border: none;
}

.header .navbar-brand{
    height: 120px;
    margin-top: -40px;
}
.header .navbar-default .navbar-nav>li>a{
    color: #fefefe;
    font-weight: 400;
}
.header .nav>li>a{
    padding: 10px 10px;
}
.header .navbar-default .navbar-nav>li>a:after{
    content: '|';
    padding-left: 15px;
}
    .header .navbar-default .navbar-nav > li:last-child > a:after{
        content:'';
        padding: 0;
    }
.header .navbar-default .navbar-nav>li>a:hover{
    /*color: #0F5370;*/
}
.header .navbar-default .navbar-nav>li>a:hover:after{
    color: #fefefe;
}

.header .navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
    color: #333 !important;
    background-color: transparent !important;
}

    .header .navbar-default .navbar-nav > .active > a:after,
    .navbar-default .navbar-nav > .active > a:hover:after,
    .navbar-default .navbar-nav > .active > a:focus:after {
        color: #fefefe;
    }
.header .carousel{
    height:auto;
}
.header .carousel-indicators{
    bottom: initial;
}
.header .carousel-indicators li{
    width: 88px;
    height: 7px;
    border-radius:initial;
    background: #2f85ac;
    border: none;
    margin:0;
}
.header .carousel-indicators li.active{
    background: #484c4e;
}
/*.item{
    display: block;
    float: left;
    margin: 0 15px;
}*/

.item .info, .item .mask{
    width: 100%;
    height: 50px;
    margin-top:-50px;
    position: relative;
}
.item .info{ 
    z-index: 10;
    color: #313131;    
}

.item .mask{
    opacity: 0.5;
    background: #eee;
}

    .item .info .left, .item .info .right {
        position: relative;
        padding: 5px;
    }

.item .info .left{
    float: left;
}

.item .info .right{
    float: right;
}

.small-input{
    width: 50px;
}
@media (min-width: 768px) {
    .jumbotron {
        padding: 0 !important;
    }

    .navbar-nav {        
        margin: 17px 0 !important;
    }
}