<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Basket ANY>
<!ATTLIST Basket id ID #REQUIRED>
<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
<!ELEMENT Event ANY>
<!ATTLIST Event id ID #REQUIRED>
<!ELEMENT Eventoverview ANY>
<!ATTLIST Eventoverview id ID #REQUIRED>
<!ELEMENT Moto ANY>
<!ATTLIST Moto id ID #REQUIRED>
<!ELEMENT motorGroup ANY>
<!ATTLIST motorGroup id ID #REQUIRED>
<!ELEMENT motoOverview ANY>
<!ATTLIST motoOverview id ID #REQUIRED>
<!ELEMENT Product ANY>
<!ATTLIST Product id ID #REQUIRED>
<!ELEMENT ProductCategory ANY>
<!ATTLIST ProductCategory id ID #REQUIRED>
<!ELEMENT Productlist ANY>
<!ATTLIST Productlist id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1073" key="e1f9dcc4-237f-41d6-bcf0-c7055633f572" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2015-11-13T10:33:36" updateDate="2015-12-20T16:05:23" nodeName="Welkom" urlName="welkom" path="-1,1073" isDoc="" nodeType="1059" creatorName="jurgen" writerName="jurgen" writerID="0" template="1058" nodeTypeAlias="Home">
    <headImages><![CDATA[1071]]></headImages>
    <introText><![CDATA[<p>Welkom op de website van OLDLIMA</p>
<p>Een uit de hand gelopen hobby en een passie voor klassieke BMW motoren en oldtimers hebben er  voor gezorgd dat de firma OLDLIMA is ontstaan.  Onze voornaamste bezigheden zijn de aankoop, restauratie en verkoop van BMW motoren, oldtimers en klassiekers.</p>
<p>Een van onze sterke punten is onze steeds grote voorraad van verschillende modellen.</p>
<p>Aangezien er voor een restauratie onderdelen nodig zijn, doen wij ook in de aan- en verkoop hiervan.</p>
<p>Zowel de verkoop van onderdelen als motoren wordt aangeboden via thuisverkoop en verkoop op beurzen. Meer informatie kan u terugvinden bij <a data-id="1105" href="/{localLink:1105}" title="Contacteer">Contacteer</a> en <a data-id="1101" href="/{localLink:1101}" title="Beurzen">Beurzen</a>.</p>
<p><strong>OLDLIMA is steeds op zoek naar:</strong></p>
<ul>
<li>BMW motoren van 1923 tot 1985</li>
<li>Alle onderdelen van 1923 tot heden</li>
<li>Alles dat te maken heeft met BMW motoren</li>
<li>Ook afgebroken restauraties of onvolledige motoren</li>
</ul>
<p>Indien u iets heeft waarvan u denkt dat wij dat zoeken, neemt u gerust contact met ons op.</p>]]></introText>
    <motoOverview id="1084" key="af10a02f-a858-4f52-8e52-ee637d348bd6" parentID="1073" level="2" creatorID="0" sortOrder="0" createDate="2015-11-13T10:56:15" updateDate="2015-11-13T10:57:29" nodeName="Oldtimers" urlName="oldtimers" path="-1,1073,1084" isDoc="" nodeType="1082" creatorName="jurgen" writerName="jurgen" writerID="0" template="1081" nodeTypeAlias="motoOverview">
      <motorGroup id="1090" key="17f3b0f4-dc90-448c-bc4a-b8253db411f6" parentID="1084" level="3" creatorID="0" sortOrder="1" createDate="2015-11-13T11:02:30" updateDate="2016-01-08T16:37:43" nodeName="R60/2" urlName="r602" path="-1,1073,1084,1090" isDoc="" nodeType="1442" creatorName="jurgen" writerName="jurgen" writerID="0" template="0" nodeTypeAlias="motorGroup">
        <Moto id="1441" key="a9fab14c-d293-4d0b-9f9f-dc1c010d666f" parentID="1090" level="4" creatorID="0" sortOrder="0" createDate="2016-01-08T13:36:20" updateDate="2016-01-08T16:50:04" nodeName="Exemplaar 1" urlName="exemplaar-1" path="-1,1073,1084,1090,1441" isDoc="" nodeType="1083" creatorName="jurgen" writerName="jurgen" writerID="0" template="1060" nodeTypeAlias="Moto">
          <images><![CDATA[1107,1109]]></images>
          <price><![CDATA[12]]></price>
          <state><![CDATA[mint]]></state>
          <extraInfo><![CDATA[test]]></extraInfo>
          <sold>1</sold>
          <buildingYear><![CDATA[1960]]></buildingYear>
          <inSpotlight>0</inSpotlight>
        </Moto>
        <Moto id="1443" key="ce900512-2075-466c-af70-2bcfb8a47e10" parentID="1090" level="4" creatorID="0" sortOrder="2" createDate="2016-01-08T16:51:46" updateDate="2016-01-09T09:23:41" nodeName="Exemplaar 2" urlName="exemplaar-2" path="-1,1073,1084,1090,1443" isDoc="" nodeType="1083" creatorName="jurgen" writerName="jurgen" writerID="0" template="1060" nodeTypeAlias="Moto">
          <images><![CDATA[1107,1109]]></images>
          <price><![CDATA[120]]></price>
          <state><![CDATA[mint]]></state>
          <extraInfo><![CDATA[test]]></extraInfo>
          <sold>0</sold>
          <buildingYear><![CDATA[1961]]></buildingYear>
          <inSpotlight>0</inSpotlight>
        </Moto>
        <Moto id="1444" key="5be43ef8-faeb-4085-b51f-9aadc4ce22ad" parentID="1090" level="4" creatorID="0" sortOrder="3" createDate="2016-01-09T09:26:08" updateDate="2016-01-09T09:26:27" nodeName="Exemplaar 3" urlName="exemplaar-3" path="-1,1073,1084,1090,1444" isDoc="" nodeType="1083" creatorName="jurgen" writerName="jurgen" writerID="0" template="1060" nodeTypeAlias="Moto">
          <images><![CDATA[1107,1109]]></images>
          <price><![CDATA[12000]]></price>
          <state><![CDATA[mint]]></state>
          <extraInfo><![CDATA[test]]></extraInfo>
          <sold>1</sold>
          <buildingYear><![CDATA[1965]]></buildingYear>
          <inSpotlight>0</inSpotlight>
        </Moto>
      </motorGroup>
      <Moto id="1445" key="d11d17ad-8093-46a6-a6fd-5b090cd452ac" parentID="1084" level="3" creatorID="0" sortOrder="2" createDate="2016-01-09T09:37:27" updateDate="2016-01-09T09:37:27" nodeName="R65" urlName="r65" path="-1,1073,1084,1445" isDoc="" nodeType="1083" creatorName="jurgen" writerName="jurgen" writerID="0" template="1060" nodeTypeAlias="Moto">
        <images><![CDATA[1094,1096]]></images>
        <price><![CDATA[4000]]></price>
        <extraInfo><![CDATA[test]]></extraInfo>
        <sold>0</sold>
        <buildingYear><![CDATA[1980]]></buildingYear>
        <inSpotlight>0</inSpotlight>
      </Moto>
      <motorGroup id="1459" key="3c65bf27-2735-4830-9644-0893e7e2e55f" parentID="1084" level="3" creatorID="0" sortOrder="3" createDate="2016-01-12T08:48:30" updateDate="2016-01-16T14:21:42" nodeName="R65/8" urlName="r658" path="-1,1073,1084,1459" isDoc="" nodeType="1442" creatorName="jurgen" writerName="jurgen" writerID="0" template="0" nodeTypeAlias="motorGroup">
        <Moto id="1462" key="b091692f-e209-4947-be0a-5b8929746c2f" parentID="1459" level="4" creatorID="0" sortOrder="0" createDate="2016-01-16T14:22:24" updateDate="2016-01-16T14:22:34" nodeName="R65/8b" urlName="r658b" path="-1,1073,1084,1459,1462" isDoc="" nodeType="1083" creatorName="jurgen" writerName="jurgen" writerID="0" template="1060" nodeTypeAlias="Moto">
          <images><![CDATA[1107]]></images>
          <price><![CDATA[15000]]></price>
          <state><![CDATA[goed]]></state>
          <extraInfo><![CDATA[test]]></extraInfo>
          <sold>0</sold>
          <buildingYear><![CDATA[1920]]></buildingYear>
          <inSpotlight>1</inSpotlight>
        </Moto>
      </motorGroup>
      <motorGroup id="1460" key="c8c98076-46e3-4688-b477-73da644b471a" parentID="1084" level="3" creatorID="1" sortOrder="4" createDate="2016-01-12T08:54:31" updateDate="2016-01-12T08:54:31" nodeName="test (1)" urlName="test-1" path="-1,1073,1084,1460" isDoc="" nodeType="1442" creatorName="marc" writerName="marc" writerID="1" template="0" nodeTypeAlias="motorGroup">
        <Moto id="1461" key="7a97462c-0670-4613-95d1-b3d9ec263251" parentID="1460" level="4" creatorID="0" sortOrder="0" createDate="2016-01-13T15:36:38" updateDate="2016-01-13T15:37:02" nodeName="test" urlName="test" path="-1,1073,1084,1460,1461" isDoc="" nodeType="1083" creatorName="jurgen" writerName="jurgen" writerID="0" template="1060" nodeTypeAlias="Moto">
          <images><![CDATA[1440]]></images>
          <price><![CDATA[12]]></price>
          <extraInfo><![CDATA[test]]></extraInfo>
          <sold>0</sold>
          <buildingYear><![CDATA[1957]]></buildingYear>
          <inSpotlight>0</inSpotlight>
        </Moto>
      </motorGroup>
      <motorGroup id="1463" key="1e0871a5-3d60-4647-a538-a4824aa3657e" parentID="1084" level="3" creatorID="0" sortOrder="5" createDate="2016-01-16T14:50:15" updateDate="2016-01-16T14:50:15" nodeName="359lta" urlName="359lta" path="-1,1073,1084,1463" isDoc="" nodeType="1442" creatorName="jurgen" writerName="jurgen" writerID="0" template="0" nodeTypeAlias="motorGroup">
        <Moto id="1464" key="1f96884a-d419-47ad-937b-4293616bfdbf" parentID="1463" level="4" creatorID="0" sortOrder="0" createDate="2016-01-16T14:51:34" updateDate="2016-01-16T14:51:41" nodeName="359lt" urlName="359lt" path="-1,1073,1084,1463,1464" isDoc="" nodeType="1083" creatorName="jurgen" writerName="jurgen" writerID="0" template="1060" nodeTypeAlias="Moto">
          <images><![CDATA[1077,1079,1078]]></images>
          <price><![CDATA[otk]]></price>
          <extraInfo><![CDATA[Extra zijspan]]></extraInfo>
          <sold>0</sold>
          <buildingYear><![CDATA[1953]]></buildingYear>
          <inSpotlight>1</inSpotlight>
        </Moto>
      </motorGroup>
    </motoOverview>
    <motoOverview id="1091" key="4aca0e7e-254d-4e44-9cc0-851dafab804c" parentID="1073" level="2" creatorID="0" sortOrder="1" createDate="2015-11-13T11:03:24" updateDate="2015-11-13T11:03:24" nodeName="Klassiekers" urlName="klassiekers" path="-1,1073,1091" isDoc="" nodeType="1082" creatorName="jurgen" writerName="jurgen" writerID="0" template="1081" nodeTypeAlias="motoOverview">
      <Moto id="1097" key="2e462be2-fc2d-44df-878f-89ebe98575e8" parentID="1091" level="3" creatorID="0" sortOrder="0" createDate="2015-11-13T11:07:18" updateDate="2015-11-29T11:12:27" nodeName="R 65" urlName="r-65" path="-1,1073,1091,1097" isDoc="" nodeType="1083" creatorName="jurgen" writerName="jurgen" writerID="0" template="1060" nodeTypeAlias="Moto">
        <images><![CDATA[1094,1095,1096]]></images>
        <price><![CDATA[2750]]></price>
        <state><![CDATA[Nette staat]]></state>
        <sold>0</sold>
        <buildingYear><![CDATA[1985]]></buildingYear>
        <inSpotlight>0</inSpotlight>
      </Moto>
    </motoOverview>
    <motoOverview id="1361" key="e3740f4a-c307-4dbe-941d-c5bbf224a7d6" parentID="1073" level="2" creatorID="0" sortOrder="2" createDate="2015-12-20T15:10:04" updateDate="2015-12-20T15:10:19" nodeName="Recente" urlName="recente" path="-1,1073,1361" isDoc="" nodeType="1082" creatorName="jurgen" writerName="jurgen" writerID="0" template="1081" nodeTypeAlias="motoOverview" />
    <Productlist id="1106" key="11acf44f-11e3-44bb-a2ec-6197fc5108ee" parentID="1073" level="2" creatorID="0" sortOrder="3" createDate="2015-11-24T20:21:15" updateDate="2016-01-11T13:18:29" nodeName="Onderdelen" urlName="onderdelen" path="-1,1073,1106" isDoc="" nodeType="1048" creatorName="jurgen" writerName="jurgen" writerID="0" template="1047" nodeTypeAlias="Productlist">
      <ProductCategory id="1455" key="f4a28d8c-d781-4cc9-bdb0-c08445bae965" parentID="1106" level="3" creatorID="0" sortOrder="0" createDate="2016-01-11T13:11:57" updateDate="2016-01-11T13:16:57" nodeName="Motors" urlName="motors" path="-1,1073,1106,1455" isDoc="" nodeType="1454" creatorName="jurgen" writerName="jurgen" writerID="0" template="1047" nodeTypeAlias="ProductCategory">
        <listView><![CDATA[0abf5446-5942-4ca7-9dc9-ed922d1038b4]]></listView>
      </ProductCategory>
      <ProductCategory id="1456" key="733592ba-f72c-4097-92d9-5db226682d86" parentID="1106" level="3" creatorID="0" sortOrder="1" createDate="2016-01-11T13:12:15" updateDate="2016-01-11T13:17:06" nodeName="Cilinders" urlName="cilinders" path="-1,1073,1106,1456" isDoc="" nodeType="1454" creatorName="jurgen" writerName="jurgen" writerID="0" template="1047" nodeTypeAlias="ProductCategory">
        <listView><![CDATA[2aeb9ab5-525d-467c-981f-b39b3990f0e2]]></listView>
      </ProductCategory>
    </Productlist>
    <Eventoverview id="1101" key="d0f0accf-83f2-4233-b5d7-60c12bda9de7" parentID="1073" level="2" creatorID="0" sortOrder="4" createDate="2015-11-13T11:13:47" updateDate="2015-12-20T15:10:19" nodeName="Beurzen" urlName="beurzen" path="-1,1073,1101" isDoc="" nodeType="1099" creatorName="jurgen" writerName="jurgen" writerID="0" template="1098" nodeTypeAlias="Eventoverview">
      <Event id="1104" key="d75d797c-96cd-4afb-8271-399b098e17f5" parentID="1101" level="3" creatorID="0" sortOrder="0" createDate="2015-11-13T11:15:37" updateDate="2015-12-01T20:29:06" nodeName="Oldtimer beurs" urlName="oldtimer-beurs" path="-1,1073,1101,1104" isDoc="" nodeType="1100" creatorName="jurgen" writerName="jurgen" writerID="0" template="1067" nodeTypeAlias="Event">
        <website><![CDATA[www.vetfrakken.be]]></website>
        <inSpotlight>0</inSpotlight>
        <images>1103</images>
        <date>2015-12-12T11:15:15</date>
      </Event>
      <Event id="1364" key="f3aabacd-dd69-4fad-9f8a-4e6ddd36da46" parentID="1101" level="3" creatorID="0" sortOrder="1" createDate="2015-12-20T15:25:06" updateDate="2015-12-20T15:25:53" nodeName="Central Classics Houten" urlName="central-classics-houten" path="-1,1073,1101,1364" isDoc="" nodeType="1100" creatorName="jurgen" writerName="jurgen" writerID="0" template="1067" nodeTypeAlias="Event">
        <website><![CDATA[http://www.centralclassics.nl]]></website>
        <inSpotlight>1</inSpotlight>
        <images>1363</images>
        <date>2015-12-21T15:24:41</date>
      </Event>
    </Eventoverview>
    <Contact id="1105" key="3ae131e5-ec36-4c1b-8080-d2f8baf8bd20" parentID="1073" level="2" creatorID="0" sortOrder="5" createDate="2015-11-13T11:17:59" updateDate="2015-12-20T15:10:19" nodeName="Contacteer" urlName="contacteer" path="-1,1073,1105" isDoc="" nodeType="1065" creatorName="jurgen" writerName="jurgen" writerID="0" template="1064" nodeTypeAlias="Contact" />
  </Home>
</root>